@charset "UTF-8";

/* Configuração geral */
* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #ff5d1d;
    --cor2: #0269f0;
    --cor3: #003793;
    --cor4: #1d2023;
    --cor5: #131718;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android';
}

/* Configuração do Body */
body {
    background-color: var(--cor4);
    font-family: var(--fonte-padrao);
    color: white;
}

/* Cabeçalho */

header {
    background-image: linear-gradient(to right, var(--cor2), var(--cor3));
    min-height: 80px;
    max-height: auto;
    min-width: 400px;
    max-width: auto;
    position: relative;
    box-shadow: 0px 2px 2px var(--cor3);
}

header > div >a > h1 {
    padding: 7px;
    font-size: 45px;
    color: var(--cor1);
    font-family: var(--fonte-destaque);
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 5px;
    background-color: var(--cor3);
    border-radius: 5px;
    box-shadow: 0px 0px 8px var(--cor3);
    text-shadow: 1px 1px 2px var(--cor2);
}

header > div >a > p {
    padding: 10px;
    font-size: 25px;
    font-weight: bolder;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 75px;
    color: var(--cor1);
    text-shadow: 2px 2px 2px var(--cor3);
}

#login_cadastro {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

#login_cadastro > a {
    background-color: var(--cor2);
    padding: 5px;
    color: var(--cor3);
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-left: 5px;
}

#login_cadastro > a:hover {
    background-color: var(--cor3);
    color: var(--cor1);
    box-shadow: 1px 1px 2px 1px var(--cor2);
}

/* Menu de Navegação */

nav {
    padding: 5px;
    background-color: var(--cor5);
    box-shadow: 0px 3px 3px var(--cor5);
    max-width: 100%;
}

.material-symbols-outlined {
    padding: 0;
    position: relative;
    top: 3px;
}


nav > ul > li  > a {
    display: inline-block;
    background-color: var(--cor4);
    text-decoration: none;
    color: var(--cor2);
    border-radius: 8px;
    padding: 3px 3px 3px 3px;
    z-index: 1;
}

nav > ul > li  > a:hover {
    background-color: var(--cor2);
    color: var(--cor3);
}

nav > ul > li  > a:active {
    color: var(--cor1);
}


nav ul li {
    display: contents;
}

.dropdown-menu {
    display: grid;
    position: absolute;
    background-color: var(--cor5);
    padding: 5px;
    z-index: 2;
    border: 2px solid var(--cor5);

}

.dropdown-menu > a {
    text-decoration: none;
    color: var(--cor2);
    padding: 3px;
    z-index: 2;
    background-color: var(--cor4);
    border-bottom: 1px solid var(--cor5);
    border-radius: 5px;
    margin-bottom: 2px;
}

.dropdown-menu {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: grid;
}

.dropdown-menu:hover a:hover {
    background-color: var(--cor2);
    color: var(--cor3);
}

.dropdown-menu:hover a:active {
    color: var(--cor1);
}

/* Contéudo */

main {
    position: relative;
    padding: 10px;
}

main > p {
    position: relative;
    padding: 10px 0 10px 0;
    
}

/* Rodapé */

footer {
    position: fixed;
    bottom: 0px;
    background-color: var(--cor5);
    width: 100%;
    height: 50px;
    box-shadow: 10px 0 10px var(--cor5);
}

footer > h2 {
    color: var(--cor2);
    font-size: 0.9rem;
    padding: 5px 0 5px 0;
    display: inline-block;
}

footer > p {
    font-size: 0.9rem;
    padding: 5px;
    display: inline-block;
}

footer > #direitos {
    position: fixed;
    bottom: 10px;
    right: 5px;
    font-size: 0.75rem;
    padding: 0;
    color: var(--cor2);
}
