@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


/* Configuração geral */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --cor0: #a7a7a7;
    --cor1: #ff5d1d;
    --cor2: #0269f0;
    --cor3: #003793;
    --cor4: #282c30;
    --cor5: #131718;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android';
}

/* Configuração do Body */
body {
    background-color: #fafafa;
    font-family: var(--fonte-padrao);
    color: black;
    height: 100vh;
    margin: 0;
    transition: background 0.2s linear;
}

body.dark {
    background: var(--cor4);
    color: #fafafa;
  }

/* Cabeçalho */

header {
    background-image: linear-gradient(to right, var(--cor3), var(--cor2));
    min-height: 80px;
    max-height: auto;
    min-width: 300px;
    max-width: auto;
    position: relative;
    box-shadow: 0px 2px 2px var(--cor3);
}

header > div >a > h1 {
    padding: 7px;
    font-size: 45px;
    color: var(--cor1);
    font-family: var(--fonte-destaque);
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 5px;
    background-color: var(--cor2);
    border-radius: 20px;
    box-shadow: 0px 0px 8px var(--cor3);
    text-shadow: 1px 1px 2px var(--cor2);
}

header > div >a > p {
    padding: 10px;
    font-size: 25px;
    font-weight: bolder;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 75px;
    color: var(--cor1);
    text-shadow: 2px 2px 2px var(--cor3);
}

#login_cadastro {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

#login_cadastro > a {
    background-color: var(--cor3);
    padding: 5px;
    color: var(--cor0);
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-left: 5px;
}

#login_cadastro > a:hover {
    background-color: var(--cor2);
    color: var(--cor1);
    box-shadow: 1px 1px 2px 1px var(--cor);
}

/* Botão Dark-Light */
  
 
  
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    top: 25px;
    left: 80px;

    justify-content: space-between;
    align-items: center;
  
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(0.7);
  
  }
  
  
  .label .ball {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: var(--cor1);
  }
  
  .fa-sun {
    color: var(--cor1);
  }

/* Menu de Navegação */

nav {
    padding: 5px;
    background-color: var(--cor5);
    box-shadow: 0px 3px 3px var(--cor5);
    max-height: auto;
    min-width: auto;
    max-width: auto;
}

.material-symbols-outlined {
    padding: 0;
    position: relative;
    top: 3px;
}


nav > ul > li  > a {
    display: inline-block;
    background-color: var(--cor4);
    text-decoration: none;
    color: var(--cor0);
    border-radius: 8px;
    padding: 3px 3px 3px 3px;
    z-index: 1;
    margin-bottom: 5px;
}

nav > ul > li  > a:hover {
    background-color: var(--cor2);
    color: var(--cor3);
}

nav > ul > li  > a:active {
    color: var(--cor1);
}


nav ul li {
    display: contents;
}

.dropdown-menu {
    display: grid;
    position: absolute;
    background-color: var(--cor5);
    padding: 5px;
    z-index: 2;
    border: 2px solid var(--cor5);

}

.dropdown-menu > a {
    text-decoration: none;
    color: var(--cor2);
    padding: 3px;
    z-index: 2;
    background-color: var(--cor4);
    border-bottom: 1px solid var(--cor5);
    border-radius: 5px;
    margin-bottom: 2px;
}

.dropdown-menu {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: grid;
}

.dropdown-menu:hover a:hover {
    background-color: var(--cor2);
    color: var(--cor3);
}

.dropdown-menu:hover a:active {
    color: var(--cor1);
}

/* Contéudo */

main {
    position: relative;
    padding: 10px;
    min-height: 400px;
    max-height: auto;
}

main > p {
    position: relative;
    padding: 10px 0 10px 0;
    
}

/* Rodapé */

footer {
    position: relative;
    bottom: 0;
    background-color: var(--cor5);
    width: 100%;
    min-height: 40px;
    box-shadow: 10px 0 10px var(--cor5);
    max-height: auto;
    padding: 10px;
}

footer > h2 {
    color: var(--cor0);
    font-size: 0.9rem;
    padding: 0px 0 10px 0;
    display: inline-block;
}

footer > ul > li > a {
    text-decoration: none;
    color: var(--cor1);
    margin-right: 10px;
}

footer > ul > li > a:hover {
    color: var(--cor2);
}

footer > #direitos {
    text-align: end;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.75rem;
    padding: 5px;
    color: var(--cor0);
}
